# Базы данных (SQLite)
# Даже если перейдешь на Postgres, старые файлы базы не должны попасть в сеть
*.sqlite3
*.db

# Окружение и зависимости
venv/
env/
.env
__pycache__/
*.py[cod]

# Конфиденциальные данные
config.py
token.txt
*.log

# Файлы системы и редакторов
.vscode/
.idea/
.DS_Store

# Специфичное для твоего проекта
/photos/
/qrcodes/